body{
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    color : #fff;
    font-size: 20px;
    margin: auto;
} 

#header{
    border-bottom: 1px solid #fafafa;
    height : 200px;
}
#header>div{
    display: inline-block;
    box-sizing : border-box;
}

.image{
    border-radius: 3px;
    width: 150px;
    height: 150px;
    padding:3px;
    border:1px solid #f5f5f5;
    background-color:#f4f4f4;
    margin: 20px 10px 80px 20px;
}

.container{
    border-bottom: 1px solid #f4f4f4;
}

.parentdiv{
        position: relative;
        border-radius: 50%;
        margin: 170px;
        color: #fff;
        text-align: center;
        line-height: 170px;
        display : inline-block;
        display: none;
        /*opacity: 0.5;*/
    }
.parentdiv:nth-of-type(1) { 
        background-color: #ffab00;
    }
.parentdiv:nth-of-type(2) { 
        background-color: #31a354;
    }
.parentdiv:nth-of-type(3) { 
        background-color: #9e9ac8;
    }

.div2{
     position: absolute;
     border-radius: 50%;
     color: #fff;
     opacity: 0.8;
     font-size: 14px;
     line-height: 120px;
     z-index: -50;
     border : 1px solid transparent;
}
.childhood {
        background-color: #0033a6;
    }
.teen {
        background-color: #e6550d;
}
.adult{
        background-color: #3182bd;
}